/* src/App.css */
/* ... Existing styles ... */

.slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .slider img {
    width: 100%;
    scroll-snap-align: start;
    border: 1px solid #ddd;
    margin-right: 5px;
  }
  
  .product-info button.interactive-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .product-info button.interactive-button:hover {
    background-color: #0056b3;
  }
  